<!DOCTYPE html>
<html ng-app='ngSnake'>

  <head>
    <link rel="stylesheet" type="text/css" href="snake.css">
  </head> 

  <body ng-controller="snakeCtrl">

    <div id="gameContainer">
      <h3>Score: {{score}}</h3>
      <div>
          <div class="row" ng-repeat="column in board">
              <div class="column"
                  ng-style="{'background-color': setStyling($parent.$index, $index)}"
                  ng-repeat="row in column track by $index"
              ></div>
          </div>
      </div>
      <div id="startGame" ng-click="startGame()">Start Game</div>
    </div>

    <script src="angular.min.js"></script>
    <script src="snake.js"></script> 
  </body>

</html>
