* {
	font-family: "Lucida Grande";
}

.row {
	height: 20px;
}

.column {
	border: 1px solid white;
	width: 18px;
	display: inline-block;
}

#startGame {
	width: 120px;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	background-color: black;
	color: white;
}

#startGame:hover {
	color: red;
	cursor: pointer;
}